/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/09/2021, 17:14:57
    Author     : Martins
*/

.titulo {
    text-align: center;
}

.info-comprar {
    text-align: right;
}

.carousel slide {
    text-align: center;
}
