<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>produto</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produtoImagem</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.produtoImagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detalheProduto</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.detalheProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produtoHome</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.produtoHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagemDetalhe</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.imagemDetalhe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagemPrincipal</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.imagemPrincipal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>produto</servlet-name>
        <url-pattern>/produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtoImagem</servlet-name>
        <url-pattern>/produtoImagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detalheProduto</servlet-name>
        <url-pattern>/detalheProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtoHome</servlet-name>
        <url-pattern>/produtoHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagemDetalhe</servlet-name>
        <url-pattern>/imagemDetalhe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagemPrincipal</servlet-name>
        <url-pattern>/imagemPrincipal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
