<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>br.senac.sp.yolandaiv.filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/protegido/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>produto</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produtoImagem</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.produtoImagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detalheProduto</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.detalheProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>produtoHome</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.produtoHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagemDetalhe</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.imagemDetalhe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagemPrincipal</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.produto.imagemPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuariosSV</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.usuario.ListarUsuariosSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuariosSV</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.usuario.CadastrarUsuariosSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuariosSV</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.usuario.AlterarUsuariosSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSV</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.LoginSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSV</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.LogoutSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClientesSV</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.cliente.CadastrarClientesSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginClienteSV</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.LoginClienteSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClientesSV</servlet-name>
        <servlet-class>br.senac.sp.yolandaiv.servlet.cliente.AlterarClientesSV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>produto</servlet-name>
        <url-pattern>/protegido/produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtoImagem</servlet-name>
        <url-pattern>/protegido/produtoImagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detalheProduto</servlet-name>
        <url-pattern>/protegido/detalheProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtoHome</servlet-name>
        <url-pattern>/produtoHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagemDetalhe</servlet-name>
        <url-pattern>/protegido/imagemDetalhe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagemPrincipal</servlet-name>
        <url-pattern>/protegido/imagemPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuariosSV</servlet-name>
        <url-pattern>/protegido/ListarUsuariosSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuariosSV</servlet-name>
        <url-pattern>/protegido/CadastrarUsuariosSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuariosSV</servlet-name>
        <url-pattern>/protegido/AlterarUsuariosSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSV</servlet-name>
        <url-pattern>/LoginSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutSV</servlet-name>
        <url-pattern>/protegido/LogoutSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClientesSV</servlet-name>
        <url-pattern>/CadastrarClientesSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginClienteSV</servlet-name>
        <url-pattern>/LoginClienteSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClientesSV</servlet-name>
        <url-pattern>/AlterarClientesSV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
